.fixed-banner {
	background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url(../../Images/fixed-banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 10rem 0;
}

.fixed-text h2 {
	font-family: 'Roboto', sans-serif;
}